//mapa=> es un consjunto de valores, que no tiene que estar relacionados. funciona a partir de clave de valor.
//un mapa en JS hace referencia a un objeto.

$colors: (
    color1: #f8f9fa, //body
    color2: #f5f5dc, //navbar
    color3: #1e3a8a, // botones navbar
    color4: #2c3e50, // textos
    color5: #34495e, //texto2
);