//los mixins son como funciones donde nosotros seteamos las propiedades 
//y le vamos pasando los parametros que vayan cambiando
//para utilizarlo hay que usarlo en un media y llamarlo como @include flex(wrap,row,center,center, 16px);

@mixin flex($wrap, $direction, $justify, $items, $gap){
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    gap: $gap;
}

@mixin grid($col,$row,$justify,$align){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-items: $align;
}
